html, body{
  font-family: chaparral-pro, serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "proxima-nova-alt-condensed", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 700;
  line-height: 1.3;
}
h1{
  margin: 50px 0 40px 0;
}

p, ul, li, div{
  font-size: 22px;
  color: #444;
}
p, ul, li{
  line-height: 1.6em;
  /*text-align: justify;*/
}
p, ul{
  margin-bottom: 1.5em;
}

#mark-wrapper{
  border-bottom: 1px solid #ededed;
  padding: 20px 0;
  height: 50px;
}
#mark{
  /*position: absolute;
  top: 20px;
  left: 20px;*/

  display: block;
  margin: 0 auto;
  width: 40px;
}
#mark img{
  width: 40px;
  opacity: .2;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}
#mark:hover img{
  opacity: 1;
}

.wrapper{
  width: 600px;
  padding: 0px 0px;
  margin: 0 auto;
}

/* Index */

/* POSTS */

#post { position: relative; }
#index a, #post a, #dsq-account-dropdown a {
  color: #000;
  text-decoration: none;
  background: #f7fa85;
  padding: 1px 4px;
  -moz-border-radius: 3px;
}
#post a:hover,
#index a:hover,
#dsq-account-dropdown a:hover {
  text-decoration: underline;
}

#post .date {
  color: #CCCCCC;
  font-size: 14px;
  left: -170px;
  line-height: 32px;
  position: absolute;
  text-align: right;
  width: 150px;
}

#comments{ padding: 1px 0; }


#dsq-footer{ display: none; }