html, body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*
body {
  background: transparent url(/images/project_papper.png) repeat;
}
#wrapper{
  -moz-border-radius: 3px;
  -moz-box-shadow: 0px 0px 5px #888;
  background: #fff;
}
*/

p, ul, li{
  line-height: 1.6em;
  font-weight: 300;
}

#wrapper{
  width: 700px;
  padding: 0px 20px;
  margin: 0 auto;
}

#wrapper h1{
  font-size: 2.4em;
}

#post a {
  color: #000;
  text-decoration: none;
  background: #f7fa85;
  padding: 1px 3px;
}
#post a:hover {
  text-decoration: underline;
}

#comments{
  padding: 1px 0;
}