---
layout: default
---

<div class="wrapper">
  <h1>{{ page.title }}</h1>
  <div id="post">
    <div class="date">{{ page.date | date:'%b %d %Y' }}</div>

    {{ content }}

    <div class="twitter-wrapper">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="mrbogle">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

  </div>
</div>

<div class="about-block">
  <img src="/images/pic/human.png" alt="Ben's mug">
  Ben Ogle is a Designer <span class="fancy-and">&</span> Developer. He is a co-founder of <a href="https://easel.io?utm_source=bogle">Easel.io</a>.
</div>

<div class="wrapper">

  {% if page.comments %}
    <div id="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'benogle-test'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
    </div>
  {% endif %}

</div>
